<h2 i18n>Survey of Hong Kong Entertainment</h2>

<form>
  <div class='card' style="width: 90%; min-width: 350px; margin-bottom: 5px;">
    <div class='card-body'>
      <h3 class="card-title">
        Survey Detail
      </h3>

      <div class="card-text">
        <label class="form-label">Do you like to watch Anime?</label>
        <img style="width: 90%; max-width: 400px; display: block;" src="../../assets/images/survey1.png" />
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/caLgKqJtuf8?controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <select name="answer1" class="form-control" [(ngModel)]="editForm.answer1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <div class="card-text">
        <label class="form-label">Which one do you like?</label>
        <img style="width: 90%; max-width: 400px;" src="../../assets/images/survey2.png" />
        <img style="width: 90%; max-width: 400px;" src="../../assets/images/survey3.png" />
        <img style="width: 90%; max-width: 400px;" src="../../assets/images/survey4.png" />
        <select name="answer2" class="form-control" [(ngModel)]="editForm.answer2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="card-text">
        <label class="form-label">Do you like this video?</label>
        <div>
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/UmByZhIP3Yw?controls=0"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <select name="answer4" class="form-control" [(ngModel)]="editForm.answer4">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <div class="card-text">
        <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>Reset</button>
        <button type="button" class="btn btn-dark" style="float: right;" (click)="completeEdit()">Submit</button>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-light" style="float: right;"
          (click)="backToMenu()" i18n>返回主頁</button>
</form>
