<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="../styles.css" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<style>
  :host {
    font-family: '宋体',宋体b8b体,Microsoft YaHei, Arial, sans-serif;
    font-size: 14pt;
    color: lightgray;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    /* max-width: 960px; */
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 48px;
    font-family: 'Archivo Black', arial, sans-serif;
    font-weight: bold;
    color: rgb(247, 247, 247);
  }

</style>

<div class="content" role="main">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer>Copyright 2021</footer>
</div>

