<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div style="margin: 10px">
  <input  class="form-control" type="text"
          style="background: white;"
          value="Name" disabled [(ngModel)]="gameProfile.gameName">
</div>

<div style="display: block;">
  <div style="width: 60%; display: inline-block;">
    <div>
      <span>EXP</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: ' + (gameProfile.exp*100/gameProfile.expFull) +'%; border: 1px solid white;'"></div>
      </div>
      <span>Rank 1</span>
    </div>
    <div>
      <span>STA</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: '+(gameProfile.sta*100/gameProfile.staFull)+'%; border: 1px solid white;'"></div>
      </div>
      <span>{{gameProfile.sta}}/{{gameProfile.staFull}}</span>
    </div>
  </div>
  <div style="width: 38%; display: inline-block;">
    <div style="text-align: right;">
      <span>STONE</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.stone">
    </div>
    <div style="text-align:right;">
      <span>$</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.money">
    </div>
  </div>
</div>

<div class="main" style="background-image: url('../../assets/icons/three mo_02.gif');">
  <div class="world-box"
    style="background-image: url('../../assets/icons/sparkles.png'); padding-top: 5px;">
    <h2 class="world-title">
      【卡庫】
    </h2>

    <!-- restaurant list -->
    <div style="width: 100%;">
      <div *ngFor="let inst of cardInsts; let rIdx=index"
              style="margin: 5px; padding: 0; text-align: center; border-radius: 10px; display: inline; background-color: black; width: 125px;"
              (click)="selectRestaurant(rIdx)">
        <div class="card-image-box" *ngIf="inst.card.length==1">
          <img  class="card-image"
                [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+inst.card[0].cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
        </div>
      </div>
    </div>

  </div>
</div>


<div style="width: 100%;">
  <button type="button" class="btn btn-dark"
          style="display: block; width: 90%; margin: auto;"
          (click)="gotoShop()">返回商店</button>
</div>
