<h2 i18n>眾籌</h2>
<p>
  過數資料:<br />
  FPS ID: 5001789<br />
  銀行轉帳Hang Seng Bank: 234-309060-882<br />
  WONG Yxxx Fxxx<br />
  <br />
  過咗數之後cap圖🙇🏻‍♀️<br />
  之後會出返個財務比大家🙇🏻‍♀️<br />
  #sica世一
</p>
<form>
  <div class='card' style="width: 90%; min-width: 300px; margin-bottom: 5px;">
    <div class='card-body'>
      <h3 class="card-title">眾籌表格</h3>
      <div class="container">

        <div class="row" *ngFor="let msg of alertMessages; let msgIndex=index;">
          <div class="col col-md-10">
            <div class="alert alert-danger" role="alert">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let msg of infoMessages; let msgIndex=index;">
          <div class="col col-md-10">
            <div class="alert alert-info" role="alert">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="row" *ngIf="isLogon">
          <div class='col col-md-10'><label class="form-label">[{{logonUsernameEmail}} 已登入]</label></div>
        </div>

        <div class="row" *ngIf="!isLogon">
          <div class='col col-md-4'><label class="form-label">Email (可省略)</label></div>
          <div class="col col-md-6">
            <input type="text" maxlength="100" name="payeeName" class="form-control" [(ngModel)]="editIncome.payeeName"/>
          </div>
        </div>

        <div class="row" *ngIf="!isLogon">
          <div class='col col-md-4'><label class="form-label">TG ID (可省略)</label></div>
          <div class="col col-md-6">
            <input  type="text" name="tgId" class="form-control" maxlength="100"
                    [(ngModel)]="editIncome.tgId"/>
          </div>
        </div>
        <div class="row" *ngIf="!isLogon">
          <div class='col col-md-10'><label class="form-label">
            * 如沒有提供以上任何聯絡方法, 將會當作匿名應援處理。
          </label></div>
          <br /><br />
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">圖片證明 <span class="required">*</span></label></div>
          <div class="col col-md-6">
            <div class="photo-container">
              <input type="file" id="image_input" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
              <div id="display_image"><img style="max-width: 100%;" [src]="filePath"></div>
           </div>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">你希望這金額的用途？ (可省略)</label></div>
          <div class="col col-md-6">
            <input  type="text" name="answer2" class="form-control" maxlength="100"
                    [(ngModel)]="editIncome.answer2"/>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
            <button type="button" class="btn btn-dark" style="float: right;" (click)="completeEdit()">完成</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-light" style="float: right;"
          (click)="backToMenu()" i18n>返回主頁</button>
</form>
