<h2 i18n>編輯應援物</h2>

<div class='card' style="margin-bottom: 5px;">
  <div class='card-body'>
    <h3 class="card-title">應援物詳情</h3>
    <div class="container">
      <form>
        <div class="row" *ngFor="let msg of alertMessages; let msgIndex=index;">
          <div class="col col-md-10">
            <div class="alert alert-danger" role="alert">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let msg of infoMessages; let msgIndex=index;">
          <div class="col col-md-10">
            <div class="alert alert-info" role="alert">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">應援物名稱</label></div>
          <div class="col col-md-8">
            <input type="text" maxlength="100" name="itemName" class="form-control" [(ngModel)]="editItem.itemName"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">其他資訊</label></div>
          <div class="col col-md-8">
            <textarea name="itemDescription" class="form-control" maxlength="500"
                      [(ngModel)]="editItem.itemDescription"></textarea>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">金額</label></div>
          <div class="col col-md-8">
            <input type="number" name="price" class="form-control" [(ngModel)]="editItem.price"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">開始日期</label></div>
          <div class="col col-md-8">
            <input type="date" name="startDate" class="form-control" [(ngModel)]="editItem.startDate"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">截止日期</label></div>
          <div class="col col-md-8">
            <input type="date" name="expiryDate" class="form-control" [(ngModel)]="editItem.expiryDate"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">應援物圖片</label></div>
          <div class="col col-md-8">
            <div class="photo-container">
              <input type="file" id="image_input" (change)="onFileSelected($event)">
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
            <button [disabled]="isUploading" type="button" class="btn btn-dark" style="float: right;" (click)="completeEdit()">完成</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-light" style="float: right;"
(click)="backToMenu()" i18n>返回主頁</button>
