<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            background-size: 100px 100px; background-position: 50px 50px;
            background-color: white; background-image: url('../../assets/icons/three mo_01.gif');
            z-index: -1;">
  &nbsp;
</div>

<div class="bg">
  <audio src="../assets/bgm/abc.mp3" autoplay>
    <p>If you are reading this, it is because your browser does not support the audio element.</p>
  </audio>
  <h1>SICARD QUEST</h1>
  <h2>~ 八大巨人篇 ~</h2>

  <div class="demo" style="background-image: url('../assets/icons/open.png');">
  </div>

  <button *ngIf="gameProfile.gameUid!=0" type="button" class="btn btn-success"
          style="font-size: 20pt;" (click)="continueGame()">CONTINUE</button>
  <button *ngIf="gameProfile.gameUid==0" type="button" class="btn btn-dark"
          style="font-size: 20pt;" (click)="newGame()">NEW GAME</button>
  <br>
  <p style="text-align: center;">@SICA WORLD 2022</p>
</div>
