.card
  background: none
.card-text
  font-size: 12pt
.photo-container
  width: 100%
  display: block
  justify-content: center
  align-items: center
  gap: 10px
  border: 1px solid black
#display_image
  display: block
  width: 100%
  border: 1px solid black

.loadingDiv
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: black
  background-size: 100px 100px
  z-index: 99
