<h2 i18n>回憶閣</h2>

<div style="margin: 5px; float: right;" *ngIf="this.pagemode=='list' && this.isLogon ">
  <button type="button" class="btn-light" (click)="gotoUpload()">上載你有關Sica的記憶</button>
</div>

<table class="table" *ngIf="pagemode=='list'">
  <thead>
    <tr>
      <th scope="col">回憶項目</th>
      <th scope="col">Hash Tag#</th>
      <th scope="col">其他資訊</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let itemIndex=index;">
      <td>{{item.fileName}}</td>
      <td>{{item.tags}}</td>
      <td>{{item.fileDescription}}</td>
      <td>
        <a  target="_blank"
            href='{{ "https://fansconnect-video.azurewebsites.net/api/material/" + item.materialId + "?code=uDgPTLPYrxnoR/qibHvzVli/jsznTJTS7EXH0fVIIu8RhInTpdLa3g=="}}'>下載</a>
      </td>
    </tr>
  </tbody>
</table>

<div class='card' style="width: 90%; min-width: 300px; margin-bottom: 5px;" *ngIf="this.pagemode=='upload'">
  <div class='card-body'>
    <h3 class="card-title">上載有關Sica的記憶</h3>
    <div class="container">
      <form>
        <div class="row" *ngFor="let msg of alertMessages; let msgIndex=index;">
          <div class="col col-md-10">
            <div class="alert alert-danger" role="alert">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let msg of infoMessages; let msgIndex=index;">
          <div class="col col-md-10">
            <div class="alert alert-info" role="alert">
              {{msg}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">記憶檔案 <span class="required">*</span></label></div>
          <div class="col col-md-6">
            <div class="photo-container">
              <input type="file" id="image_input" (change)="onFileSelected($event)">
          </div>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">Hash Tag#</label></div>
          <div class="col col-md-6">
            <input type="text" maxlength="100" name="payeeName" class="form-control" [(ngModel)]="editMaterial.tags"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">其他資訊</label></div>
          <div class="col col-md-6">
            <input type="text" maxlength="500" name="fileDescription" class="form-control" [(ngModel)]="editMaterial.fileDescription"/>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
            <button type="button" class="btn btn-dark" style="float: right;" (click)="completeEdit()">完成</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-light" style="float: right;"
(click)="backToMenu()" i18n>返回主頁</button>
