<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div style="margin: 10px">
  <input  class="form-control" type="text"
          style="background: white;"
          value="Name" disabled [(ngModel)]="gameProfile.gameName">
</div>

<div style="display: block;">
  <div style="width: 60%; display: inline-block;">
    <div>
      <span>EXP</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: ' + (gameProfile.exp*100/gameProfile.expFull) +'%; border: 1px solid white;'"></div>
      </div>
      <span>Rank 1</span>
    </div>
    <div>
      <span>STA</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: '+(gameProfile.sta*100/gameProfile.staFull)+'%; border: 1px solid white;'"></div>
      </div>
      <span>{{gameProfile.sta}}/{{gameProfile.staFull}}</span>
    </div>
  </div>
  <div style="width: 38%; display: inline-block;">
    <div style="text-align: right;">
      <span>STONE</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.stone">
    </div>
    <div style="text-align:right;">
      <span>$</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.money">
    </div>
  </div>
</div>

<div class="main" style="background-image: url('../../assets/icons/three mo_02.gif');">
  <div *ngIf="mode=='story'"
      class="world-box"
      style="background-image: url('../../assets/icons/grass.png');">
    <h2 *ngIf="worlds.length>selectedWorld" class="world-title">【{{worlds[selectedWorld].worldName}}】</h2>
    <div *ngFor="let chapter of chapters; let chapterIndex=index" class="chapter-box">
      <h3 class="chapter-title">第{{chapter.seq}}章 『{{chapter.chapterName}}』</h3>
      <div *ngIf="selectedChapter==chapterIndex">
        <div class="card" *ngFor="let task of tasks">
          <div class='card-body'>
            <button type="button" class="btn btn-success" style="float: right;" (click)="gotoBattle(task)">GO!</button>
            <p class="card-title">{{chapter.seq}}.{{task.seq}}: {{task.taskName}}</p>
            <p class="card-text">STA消耗: {{task.staCost}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <button type="button"
          [ngClass]="{'btn btn-primary':(mode=='story'), 'btn btn-light':(mode!='story')}"
          >故事</button>
  <button type="button"
          [ngClass]="{'btn btn-primary':(mode=='charactor'), 'btn btn-light':(mode!='charactor')}"
          >角色</button>
  <button type="button"
          [ngClass]="{'btn btn-primary':(mode=='store'), 'btn btn-light':(mode!='store')}"
          >士多</button>
  <button type="button" class="btn btn-dark" disabled>抽蛋</button>
  <button type="button" class="btn btn-dark" disabled>朋友</button>
</div>
