<div style="margin: 10px">
  <input  class="form-control" type="text"
          style="background: white;"
          value="Name" disabled [(ngModel)]="gameProfile.gameName">
</div>

<div style="display: block;">
  <div style="width: 60%; display: inline-block;">
    <div>
      <span>EXP</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: ' + gameProfile.exp +'%; border: 1px solid white;'"></div>
      </div>
      <span>Rank 1</span>
    </div>
    <div>
      <span>STA</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: '+gameProfile.sta+'%; border: 1px solid white;'"></div>
      </div>
      <span>{{gameProfile.sta}}/100</span>
    </div>
  </div>
  <div style="width: 38%; display: inline-block;">
    <div style="text-align: right;">
      <span>STONE</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.stone">
    </div>
    <div style="text-align:right;">
      <span>$</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.money">
    </div>
  </div>
</div>

<div class="main" style="background-image: url('../../assets/icons/three mo_02.gif');">

</div>

<div style="text-align: center;">
  <button type="button" class="btn btn-light">故事</button>
  <button type="button" class="btn btn-light">人物</button>
  <button type="button" class="btn btn-light">士多</button>
  <button type="button" class="btn btn-light">抽蛋</button>
  <button type="button" class="btn btn-light">朋友</button>
</div>
