:host
  font-family: 'Aclonica', 'setofont'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
button
  margin: 5px
span
  font-size: 10pt
  margin: 5px
.main
  width: 100%
  min-height: 400px
  background-size: 100px 100px
  background-position: 50px 50px
input
  font-size: 10pt
