<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div class="loadingDiv" style="background-image: url('../assets/icons/three mo_02.gif')" *ngIf="gameMode=='lose'">
  &nbsp;
  <div class="victoryBg" style="background-image: url('../assets/icons/sicard-bg.png')">
    <p style="font-size: 16pt;">對唔住呀!</p>
    <p style="font-size: 16pt;">你過唔到第{{activeStage}}關。</p>
    <p style="font-size: 16pt;">你想復活嗎?</p>
    <button type="button" class="btn btn-light" style="font-size: 16pt;" (click)="continueGame()">想</button>
    <button type="button" class="btn btn-light" style="font-size: 16pt;" (click)="gameOver()">唔想</button>
  </div>
</div>

<div class="loadingDiv" style="background-image: url('../assets/icons/three mo_02.gif')" *ngIf="gameMode=='victory'">
  &nbsp;
  <div class="victoryBg" style="background-image: url('../assets/icons/sicard-bg.png')">
    <p style="font-size: 16pt;">我真係恭喜你!</p>
    <p style="font-size: 16pt;">你成功通過了第{{activeStage}}關。</p>
    <p style="font-size: 16pt;">請準備好挑戰下一關。</p>
    <button type="button" class="btn btn-light" style="font-size: 16pt;" (click)="gotoNextStage()">下一關</button>
  </div>
</div>

<div class='fullscreenBg' style="background-image: url('../assets/icons/sicard-bg.png')" *ngIf="gameMode==''">
  <div class="monsterStatusBar">
    <div  *ngFor="let monster of monsters"
          [ngClass]="{'monsterStatus':(monster.status==''), 'monsterStatusDead':(monster.status=='dead')}">
      <p style="font-size: 12pt;">{{monster.monsterUname}}</p>
      <p>HP&nbsp;{{monster.hp}}/{{monster.charactor[0].hp}}</p>
      <p>SP&nbsp;{{monster.sp}}/{{monster.charactor[0].sp}}</p>
      <p>ATT&nbsp;{{monster.att}}&nbsp;DEF&nbsp;{{monster.def}}</p>
    </div>
  </div>

  <div class="locationBg" style="background-image: url('../assets/location/africa.png');">
    <div class="monstersRow">
      <div class="monster" *ngFor="let monster of monsters">
        <img  [ngClass]="{'monster-image':(monster.status==''), 'monster-imageDead':(monster.status=='dead')}"
              [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+monster.cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
      </div>
    </div>
  </div>

  <div class="player-panel" *ngIf="players[activePlayer].card.length>0">
    <p style="font-size: 12pt;">
      HP{{players[activePlayer].hp}}/{{players[activePlayer].charactor[0].hp}}
      SP{{players[activePlayer].sp}}/{{players[activePlayer].charactor[0].sp}}
      ATT{{players[activePlayer].att}}
      DEF{{players[activePlayer].def}}
    </p>

    <div class="player-status">
      <div class="player-image-box">
        <img  class="player-image"
              [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+players[activePlayer].cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
      </div>
      <div class="player-name-box">{{players[activePlayer].card[0].cardName}}</div>
    </div>

    <div class='player-script-panel' *ngIf="playerPanelMode=='script'" (click)="nextScript()">
      <p class="scriptC" *ngFor="let script of scripts[activeScript]">{{script}}</p>
    </div>

    <div class='player-button-panel' *ngIf="playerPanelMode=='home'">
      <button type="button" class="btn btn-light" (click)="changePlayerPanelMode('skills')">技能</button>
      <button type="button" class="btn btn-light" (click)="changePlayerPanelMode('snacks')">零食</button><br>
      <button type="button" class="btn btn-light" disabled>道具</button>
      <button type="button" class="btn btn-light" disabled>裝備</button>
    </div>

    <!-- skill -->
    <div class='player-skills-panel' *ngIf="playerPanelMode=='skills'">
      <div style="width: 110px; margin: 0; padding: 0; display: inline-block;">
        <button *ngFor="let skill of players[activePlayer].card[0].skills; let skillIndex=index"
                [disabled]="players[activePlayer].sp<skill.sp"
                [ngClass]="{'btn':true, 'btn-light':(activeSkill!=skillIndex), 'btn-primary':(activeSkill==skillIndex), 'skills-btn':true}"
                (click)="selectPlayerSkill1(skillIndex)">{{skill.skillName}}</button>
        <button class="btn btn-danger skills-btn" (click)="changePlayerPanelMode('home')">返回目錄</button>
      </div>
      <div class="player-skill-info">
        <p *ngIf="activeSkill>=0" style="text-align: left;">
          {{players[activePlayer].card[0].skills[activeSkill].skillDescription}}<br>
          HP-{{players[activePlayer].card[0].skills[activeSkill].power}}
          &nbsp;SP-{{players[activePlayer].card[0].skills[activeSkill].sp}}
        </p>
        <button [disabled]="activeSkill==-1" class="btn btn-success skills-btn" (click)="selectPlayerSkill2()">決定</button>
      </div>
    </div>

    <!-- skill attack-->
    <div class='player-skills-attack-panel' *ngIf="playerPanelMode=='skills-attack'">
      <div style="width: 110px; margin: 0; padding: 0; display: inline-block;">
        <button *ngFor="let tMonster of monsters; let tMonsterIndex=index"
                [disabled]="tMonster.status=='dead'"
                [ngClass]="{'btn':true, 'btn-light':(activeTarget!=tMonsterIndex), 'btn-primary':(activeTarget==tMonsterIndex), 'tmonster-btn':true}"
                (click)="selectPlayerTarget1(tMonsterIndex)">{{tMonster.monsterUname}}</button>
      </div>
      <div class="player-confirm-info">
        <button [disabled]="activeTarget<0" class="btn btn-success tmonster-btn" (click)="selectPlayerTarget2()">決定</button>
        <button class="btn btn-danger tmonster-btn" (click)="changePlayerPanelMode('skills')">更改技能</button>
      </div>
    </div>

    <!-- snacks-->
    <div class='player-snacks-panel' *ngIf="playerPanelMode=='snacks'">
      <div style="width: 110px; margin: 0; padding: 0; display: inline-block;">
        <button *ngFor="let snack of snacks; let snackIndex=index"
                [disabled]="snack.count<=0"
                [ngClass]="{'btn':true, 'btn-light':(activeSnack!=snackIndex), 'btn-primary':(activeSnack==snackIndex), 'snacks-btn':true}"
                (click)="selectPlayerSnack1(snackIndex)">{{snack.card[0].cardName}}</button>
        <button class="btn btn-danger snacks-btn" (click)="changePlayerPanelMode('home')">返回目錄</button>
      </div>
      <div class="player-snack-info">
        <p *ngIf="activeSnack>=0" style="text-align: left;">
          {{snacks[activeSnack].card[0].cardDescription}}<br>
          x{{snacks[activeSnack].count}}
          HP+{{snacks[activeSnack].charactor[0].hp}}
          SP+{{snacks[activeSnack].charactor[0].sp}}
        </p>
        <button [disabled]="activeSnack==-1" class="btn btn-success snacks-btn" (click)="selectPlayerSnack2()">決定</button>
      </div>
    </div>

  </div>

</div>
