<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div class='fullscreenBg' style="background-image: url('../assets/icons/sicard-bg.png')">
  <div class="monsterStatusBar">
    <div class="monsterStatus" *ngFor="let monster of monsters">
      <p style="font-size: 12pt;">{{monster.card[0].cardName}}</p>
      <p>HP&nbsp;{{monster.hp}}/{{monster.charactor[0].hp}}</p>
      <p>SP&nbsp;{{monster.sp}}/{{monster.charactor[0].sp}}</p>
      <p>ATT&nbsp;{{monster.att}}&nbsp;DEF&nbsp;{{monster.def}}</p>
    </div>
  </div>

  <div class="locationBg" style="background-image: url('../assets/location/africa.png');">
    <div class="monstersRow">
      <div class="monster" *ngFor="let monster of monsters">
        <img  class="monster-image"
              [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+monster.cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
      </div>
    </div>
  </div>

  <div class="player-panel" *ngIf="players[activePlayer].card.length>0">
    <p style="font-size: 12pt;">
      HP{{players[activePlayer].hp}}/{{players[activePlayer].charactor[0].hp}}
      SP{{players[activePlayer].sp}}/{{players[activePlayer].charactor[0].sp}}
      ATT{{players[activePlayer].att}}
      DEF{{players[activePlayer].def}}
    </p>
    <div class="player-status">
      <div class="player-image-box">
        <img  class="player-image"
              [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+players[activePlayer].cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
      </div>
      <p style="font-size: 12pt;">{{players[activePlayer].card[0].cardName}}</p>
    </div>
    <div class='player-button-panel'>
      <button type="button" class="btn btn-light">技能</button>
      <button type="button" class="btn btn-light">零食</button><br>
      <button type="button" class="btn btn-light">道具</button>
      <button type="button" class="btn btn-light">裝備</button>
    </div>
  </div>

</div>
