.victoryBg
  margin: 10px
  text-align: center
  vertical-align: middle
  border-radius: 10px
  border: 3px solid #ffffff
  background-color: #000000
.loadingDiv
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: black
  background-size: 100px 100px
  z-index: 99
.fullscreenBg
  position: absolute
  top: 0
  left: 0
  max-width: 800px
  width:100%
  height: 100%
  background-position: -150px -150px
  background-size: 300px 300px
  text-align: center
.player-panel
  margin: 1px
  width: 99%
  height: 275px
  text-align: center
  border-radius: 10px
  border: 3px solid #ffffff
.monsterStatusBar
  width: 100%
  height: 100px
  text-align: center
.monsterStatus
  display: inline-block
  margin: 5px
  width: 30%
  max-width: 150px
  height: 100%
  border-radius: 10px
  border: 3px solid #ffffff
.monsterStatusDead
  color: red
  border: 3px solid red
  display: inline-block
  margin: 5px
  width: 30%
  max-width: 150px
  height: 100%
  border-radius: 10px
.monstersRow
  width: 100%
  text-align: center
.monster
  display: inline-block
  margin: 5px
  width: 30%
  max-width: 150px
  height: 100%
  padding: 0px
.monster-image
  margin: 0px
  margin-top: 100px
  max-width: 150px
.monster-imageDead
  margin: 0px
  margin-top: 100px
  max-width: 150px
  opacity: 0.2
.player-snacks-panel
  float: right
  margin: 10px
  min-width:200px
.player-skills-panel
  margin: auto
.player-skills-attack-panel
  float: right
  margin: 10px
  min-width:200px
.player-script-panel
  margin: auto
  height: 100px
.player-button-panel
  margin: auto
.player-status
  margin: auto
  width: 120px
.player-image-box
  margin: auto
  width: 75px
  border: 1px solid #575757
  border-radius: 10px
  height: 75px
  overflow: hidden
  background: #000000
.player-image
  margin: 0px
  max-width: 75px
.player-name-box
  margin: 5px
  border: 1px solid #575757
  border-radius: 5px
  background: #000000
  font-size: 10pt
.locationBg
  margin-top: 15px
  width: 100%
  height: 325px
p
  font-size: 10pt
  margin: 2px
.btn
  font-size: 14pt
  width: 100px
  margin: 10px
.player-snack-info
  width: 60%
  padding: 10px
  float: right
  display: inline-block
  background: #292929
  border-radius: 5px
.player-skill-info
  width: 60%
  padding: 10px
  float: right
  display: inline-block
  background: #292929
  border-radius: 5px
.player-confirm-info
  width: 45%
  padding: 10px
  float: right
  display: inline-block
  background: #292929
  border-radius: 5px
.skills-btn
  width: 100px
  margin: 2px
  font-size: 12pt
.skills-btn-active
  border: 3px solid white !important
.tmonster-btn
  width: 120px
  margin: 2px
  font-size: 12pt
.snacks-btn
  width: 120px
  margin: 2px
  font-size: 10pt
.snacks-btn-active
  border: 3px solid white !important
.scriptC
  font-size: 12pt
.effect-icon-dizzy
  border-radius: 100px
  padding: 0
  margin: 5px
  background: white
