.reply-me
  border-radius: 5px
  background: #000099
  color: #E0E0E0
  padding: 5px
  margin: 5px
  max-width: 80%
  min-width: 100px
  float: right

.reply-you
  border-radius: 5px
  background: #CCFFCC
  color: #202020
  padding: 5px
  margin: 5px
  max-width: 80%
  min-width: 100px
  float: left
