<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div style="margin: 10px">
  <input  class="form-control" type="text"
          style="background: white;"
          value="Name" disabled [(ngModel)]="gameProfile.gameName">
</div>

<div style="display: block;">
  <div style="width: 60%; display: inline-block;">
    <div>
      <span>EXP</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: ' + (gameProfile.exp*100/gameProfile.expFull) +'%; border: 1px solid white;'"></div>
      </div>
      <span>Rank 1</span>
    </div>
    <div>
      <span>STA</span>
      <div style="margin-left: 5px; display: inline-block; height: 10px; background: white; border: 1px solid black; width: 100px;">
        <div [style]="'height: 100%; background: red; width: '+(gameProfile.sta*100/gameProfile.staFull)+'%; border: 1px solid white;'"></div>
      </div>
      <span>{{gameProfile.sta}}/{{gameProfile.staFull}}</span>
    </div>
  </div>
  <div style="width: 38%; display: inline-block;">
    <div style="text-align: right;">
      <span>STONE</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.stone">
    </div>
    <div style="text-align:right;">
      <span>$</span>
      <input type="text" style="width: 60px; background-color: white;" disabled [(ngModel)]="gameProfile.money">
    </div>
  </div>
</div>

<div class="main" style="background-image: url('../../assets/icons/three mo_02.gif');">
  <div class="world-box"
    style="background-image: url('../../assets/icons/brick.png'); padding-top: 5px;">
    <h2 class="world-title">
      【餐廳】
      <span style="font-size: 12pt; color: darkblue; text-decoration: underline;" *ngIf="selectedRestaurantIdx>=0">{{restaurantCards[selectedRestaurantIdx].cardName}}</span>
      <span style="font-size: 12pt; color: darkblue; text-decoration: underline;" *ngIf="selectedRestaurantIdx<0">歡迎餐廳加盟</span>
    </h2>

    <!-- restaurant list -->
    <div style="width: 100%;" *ngIf="gameMode=='restaurantList'">
      <button *ngFor="let restaurantCard of restaurantCards; let rIdx=index" type="button"
              class="btn btn-light"
              (click)="selectRestaurant(rIdx)">
        <img  class="card-image"
              [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+restaurantCard.cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
        <br />
        {{restaurantCard.cardName}}
      </button>
    </div>

    <!-- food list -->
    <div style="width: 50%; float: left;" *ngIf="gameMode=='foodList'">
      <button *ngFor="let foodCard of foodCards; let foodIdx = index" type="button"
              class="btn btn-light btn-shop"
              [ngClass]="{
                'btn-primary':(foodIdx==selectedFoodIndex),
                'btn-light':(foodIdx!=selectedFoodIndex)}"
              (click)="selectFood(foodIdx)">
        {{foodCard.cardName}}
      </button>
    </div>

    <!-- info window-->
    <div style="width: 50%; border: 2px solid white; background: none;  float: right;" *ngIf="gameMode=='foodList'">
      <div class="card" *ngIf="selectedFoodIndex>=0" style="background: rgba(255,255,255,0.8)">
        <div class="card-title" style="margin: auto;">
          <img class="card-image"
            [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+foodCards[selectedFoodIndex].cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
        </div>
        <p class="card-text">{{foodCards[selectedFoodIndex].cardDescription}}</p>
        <p class="card-text" style="text-align: center;">{{getFoodEffect(foodCards[selectedFoodIndex].cardId)}}</p>
      </div>
      <button type="button" class="btn btn-primary" (click)="buyFood()"
              style="width: 90%;" [disabled]="selectedFoodIndex==-1">購買</button>
    </div>
  </div>
</div>


<div style="width: 100%;">
  <button type="button" class="btn btn-dark"
          style="display: block; width: 90%; margin: auto;"
          (click)="gotoShop()">返回商店</button>
</div>
