<h2 i18n>創造我的新卡</h2>

<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<form>
  <div class="container">
    <div class="row" *ngFor="let msg of alertMessages; let msgIndex=index;">
      <div class="col col-md-10">
        <div class="alert alert-danger" role="alert">
          {{msg}}
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let msg of infoMessages; let msgIndex=index;">
      <div class="col col-md-10">
        <div class="alert alert-info" role="alert">
          {{msg}}
        </div>
      </div>
    </div>
  </div>

  <ul class="nav">
    <li class="nav-item">
      <a [class]="getNavItemClass('card')" (click)="changeTab('card')">SiCard詳情</a>
    </li>
    <li *ngIf="editCardId!=''" class="nav-item">
      <a [class]="getNavItemClass('charactor')" (click)="changeTab('charactor')">角色資料</a>
    </li>
    <li *ngIf="editCardId!=''" class="nav-item">
      <a [class]="getNavItemClass('skill')" (click)="changeTab('skill')">技能資料</a>
    </li>
  </ul>

  <div *ngIf="currentTab=='card'" class='card' style="margin-bottom: 5px;">
    <div class='card-body'>
      <h3 class="card-title">SiCard詳情</h3>
      <div class="container">
        <div class="row">
          <div class='col col-md-4'><label class="form-label">SiCard名稱</label></div>
          <div class="col col-md-8">
            <input type="text" maxlength="100" name="itemName" class="form-control" [(ngModel)]="editCard.cardName"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">詳細描述</label></div>
          <div class="col col-md-8">
            <textarea name="itemDescription" class="form-control"
                      style="height: 200px;"
                      maxlength="500"
                      [(ngModel)]="editCard.cardDescription"></textarea>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">種類</label></div>
          <div class="col col-md-8">
            <select type="number" name="cardType" class="form-control" [(ngModel)]="editCard.cardType">
              <option value="charactor">魔物</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">稀有度</label></div>
          <div class="col col-md-8">
            <select type="number" name="cardRare" class="form-control" [(ngModel)]="editCard.cardRare">
              <option value="1">N</option>
              <option value="2">R</option>
              <option value="3">SR</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">應援物圖片</label></div>
          <div class="col col-md-8">
            <div class="photo-container">
              <input type="file" id="image_input" (change)="onFileSelected($event)">
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
            <button [disabled]="isUploading" type="button" class="btn btn-dark" style="float: right;" (click)="completeEdit()">完成</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="currentTab=='charactor'" class='card' style="margin-bottom: 5px;">
  <div class='card-body'>
    <h3 class="card-title">角色詳情</h3>
    <div class="container">

        <div class="row">
          <div class='col col-md-4'><label class="form-label">體力 HP</label></div>
          <div class="col col-md-8">
            <input type="number" maxlength="3" name="hp" class="form-control" [(ngModel)]="editCharactor.hp"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">精神力 SP</label></div>
          <div class="col col-md-8">
            <input type="number" maxlength="3" name="sp" class="form-control" [(ngModel)]="editCharactor.sp"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">攻擊力 ATT</label></div>
          <div class="col col-md-8">
            <input type="number" maxlength="3" name="att" class="form-control" [(ngModel)]="editCharactor.att"/>
          </div>
        </div>

        <div class="row">
          <div class='col col-md-4'><label class="form-label">防禦力 DEF</label></div>
          <div class="col col-md-8">
            <input type="number" maxlength="3" name="def" class="form-control" [(ngModel)]="editCharactor.def"/>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
            <button [disabled]="isUploading" type="button" class="btn btn-dark" style="float: right;"
                    (click)="completeEditCharactor()">完成</button>
          </div>
        </div>

    </div>
  </div>
</div>

<div *ngIf="currentTab=='skill'" class='card' style="margin-bottom: 5px;">
  <div class='card-body'>
    <h3 class="card-title">技能表</h3>
    <table class="table">
      <thead>
        <tr>
          <td>名稱</td>
          <td>描述</td>
          <td>攻擊力</td>
          <td>SP消耗</td>
          <td>附加效果</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" name="skillName0" [(ngModel)]="editSkills[0].skillName"></td>
          <td><input type="text" name="skillDescription0" [(ngModel)]="editSkills[0].skillDescription"></td>
          <td><input type="number" name="power0" [(ngModel)]="editSkills[0].power"></td>
          <td><input type="number" name="sp0" [(ngModel)]="editSkills[0].sp"></td>
          <td><input type="text" name="effect0" [(ngModel)]="editSkills[0].effect"></td>
        </tr>
        <tr>
          <td><input type="text" name="skillName1" [(ngModel)]="editSkills[1].skillName"></td>
          <td><input type="text" name="skillDescription1" [(ngModel)]="editSkills[1].skillDescription"></td>
          <td><input type="number" name="power1" [(ngModel)]="editSkills[1].power"></td>
          <td><input type="number" name="sp1" [(ngModel)]="editSkills[1].sp"></td>
          <td><input type="text" name="effect1" [(ngModel)]="editSkills[1].effect"></td>
        </tr>
        <tr>
          <td><input type="text" name="skillName2" [(ngModel)]="editSkills[2].skillName"></td>
          <td><input type="text" name="skillDescription2" [(ngModel)]="editSkills[2].skillDescription"></td>
          <td><input type="number" name="power2" [(ngModel)]="editSkills[2].power"></td>
          <td><input type="number" name="sp2" [(ngModel)]="editSkills[2].sp"></td>
          <td><input type="text" name="effect2" [(ngModel)]="editSkills[2].effect"></td>
        </tr>
      </tbody>
    </table>
    <div>
      <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
      <button [disabled]="isUploading" type="button" class="btn btn-dark" style="float: right;"
              (click)="completeEditSkills()">完成</button>
    </div>
  </div>
</div>

<button type="button" class="btn btn-light" style="float: right;"
(click)="backToMenu()" i18n>返回SiCard庫</button>
