<h2 style="display: inline-block;" i18n>我的SiCard庫</h2>
<div style="float: right;">
  <button class="btn btn-light" (click)="addSiCard()">製造新卡</button>
</div>

<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<form>
  <div *ngFor="let card of cards; let eventIndex=index;">
    <!-- card -->
    <div class='card' style="background-image: url('../assets/icons/sicard-bg.png');">
      <div class='card-body'>
        <p class='card-text' style="float: right; font-size: 10pt; text-align: right;">
          {{getCardType(card.cardType)}}<br>
          <span *ngFor="let item of [].constructor(card.cardRare)">☆</span>
        </p>
        <p class='card-title'>{{card.cardName}}</p>
        <p class='card-text' style="color: #FFFFFF;">
          <span style="font-weight: bold;">HP</span>{{getCharactor(card.cardId).hp}}
          <span style="font-weight: bold;">SP</span>{{getCharactor(card.cardId).sp}}
          <span style="font-weight: bold;">ATT</span>{{getCharactor(card.cardId).att}}
          <span style="font-weight: bold;">DEF</span>{{getCharactor(card.cardId).def}}
        </p>
        <div class="card-image-box" (click)="editSiCard(card.cardId)">
          <img class="card-image"
            [src]="'https://fansconnect-game.azurewebsites.net/api/sicardimage/'+card.cardId+'?code=miMufIBJZhw3ByaH16D5Dc/8bBGv2RAPDzWnfEyuimnzW9sz5av7OA=='">
        </div>
        <p class='card-text'>{{card.cardDescription}}</p>
        <div style="background-color: white; opacity: 0.8; border-radius: 5px; padding: 5px">
          <p class='card-stext' *ngFor="let skill of card.skills">
            [{{skill.skillName}}]&nbsp;{{skill.power}}&nbsp;{{skill.effect}}<br>
            {{skill.skillDescription}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>
  <button type="button" class="btn btn-light" style="float: right;"
          (click)="backToMenu()" i18n>返回主頁</button>
</form>

