<div style="position: absolute; top: 0; left: 0; margin: 5px;">
  <button *ngIf="!isLogon"
  class="btn btn-dark"
  type="button" (click)="gotoLogin()">登入</button>

  <button *ngIf="isLogon"
  class="btn btn-dark"
  type="button" (click)="logout()">登出 [{{usernameEmail}}]</button>
</div>

<h3><a href="javascript: return;" (click)="gotoLuckyDraw()">!!! Sica號1:76巴士模型抽獎 !!!</a></h3>

<div class="container">
  <div class="row">
    <div class="col col-md-12" style="text-align: center;" (click)="gotoChatbot()">
      <img style="height: 400px;" src="../assets/icons/logo-ar.gif"/>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12">
      <button type="button" (click)="gotoShop()" class="btn btn-light">
        <img src="../../assets/icons/shopping.png"/>
        <span>應援物市集</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <button type="button" (click)="goToPhotoBattle()" class="btn btn-light">
        <img src="../../assets/icons/battle.png"/>
        <span>圖片榜</span>
      </button>
    </div>
    <div class="col col-md-6">
      <button type="button" (click)="goToQuestions()" class="btn btn-light">
        <img src="../../assets/icons/quiz.png"/>
        <span>常識題</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6">
      <button type="button" (click)="goToEvents()" class="btn btn-light">
        <img src="../../assets/icons/calendar.png"/>
        <span>事件簿</span>
      </button>
    </div>
    <div class="col col-md-6">
      <button type="button" (click)="goToSupport()" class="btn btn-light">
        <img src="../../assets/icons/calendar.png"/>
        <span>應援表</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <button type="button" (click)="goToDashboard()" class="btn btn-light">
        <img src="../../assets/icons/help.png"/>
        <span>能量圖</span>
      </button>
    </div>
    <div class="col col-md-6">
      <button type="button" (click)="goToMaterial()" class="btn btn-light">
        <img src="../../assets/icons/material.png"/>
        <span>回憶閣</span>
      </button>
    </div>
  </div>

</div>
